body{
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
}

body:after{
    content:' ';
    position: fixed;
    z-index: -1;
    top: -10%;
    right: -10%;
    bottom: -10%;
    left: -10%;

    background: #9b59b6 url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/06/galaxy-wallpapers-10.jpg') no-repeat;
    background-size: cover;


            -webkit-filter: blur(20px) grayscale(20%);
                    filter: blur(20px) grayscale(20%);
}

.keypad{
    width: 60vw;
    height: 60vh;
    margin: 0;
    margin: 5vh auto 0;
    padding: 0;
}

.key{
    position: relative;

    display: block;
    float: left;

    width: 18vw;
    height: 15vh;
    margin-right: 3vw;
}

.key:nth-child(3n+3){
    margin-right: 0;
}

.key a{
    font-size: 8vmin;
    line-height: 10vmin;

    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: padding-box;
    width: 13vmin;
    height: 13vmin;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    text-align: center;
    text-decoration: none;

    color: #34495e;
    border: .5vmin solid #fff;
    border-radius: 50%;
    outline: 0;
    background-color: rgba(255, 255, 255, .4);
}

.key a:hover,
button:hover{
    color: #2980b9;
    background-color: rgba(255, 255, 255, .45);
}

.key a:active,
button:active{
    color: #3498db;
    background-color: rgba(255, 255, 255, .5);
}

.key a span{
    font-size: 2vmin;
    line-height: 2vmin;

    position: absolute;
    bottom: 2vmin;
    left: 50%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

button{
    font-size: 4vmin;
    line-height: 6vmin;

    display: block;

    box-sizing: padding-box;
    width: 56vw;
    margin: 2vh auto 0;

    cursor: pointer;
    text-align: center;

    color: #34495e;
    border: .5vmin solid #fff;
    border-radius: 1vmin;
    outline: 0;
    background-color: rgba(255, 255, 255, .4);
}

button span{
    font-size: 2vmin;
    font-weight: 400;
    font-style: italic;

    color: #f7f7f7;
}


section{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    margin: 0;

    text-align: center;

    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}

#results{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    border: .25vmin solid #fff;
    border-width: .25vmin 0 0;
}

#results li{

    font-style:italic;
    font-size: 1.5vmin;
    line-height: 3vmin;

    display: inline-block;

    width: 33.33%;
}

#message{
    font-size: 3vmin;

    box-sizing: border-box;
    width: 100%;
    height: 15vh;
    padding: 1vmin;

    border: .25vmin solid #fff;
    border-width: .25vmin 0 0;
}
